@using MDS.Models
@{ var userData = Session["UserProfile"] as UserSessionModel;}
@{
    ViewBag.Title = "เปลี่ยนรหัสผ่าน";
}
<style>
    .field-icon {
        cursor: pointer;
        line-height: 24px !important;
        top: 5px !important;
        left: 6px !important;
        width: 32px !important;
        height: 24px !important;
        padding: 0 !important;
        border-width: 1px !important;
        border-style: solid !important;
        background-color: white !important;
        border-color: transparent !important
    }
</style>
<!-- Main content -->
<!--alert-->
@if (ViewBag.Result == "Y" && ViewBag.Message != null)
{
    <div class="alert alert-success" id="success-alert">
        <div class="bg-green alert-icon">
            <i class="glyph-icon icon-check"></i>
        </div>
        <div class="alert-content">
            <h4 class="alert-title">แจ้งเตือน!</h4>
            <p>@ViewBag.Message</p>
        </div>
    </div>
}
else if (ViewBag.Result == "N")
{
    <div class="alert alert-danger" id="success-alert">
        <div class="bg-red alert-icon">
            <i class="glyph-icon icon-times"></i>
        </div>
        <div class="alert-content">
            <h4 class="alert-title">แจ้งเตือน!</h4>
            <p>@ViewBag.Message</p>
        </div>
    </div>
}

<div id="page-title">
    <h2>เปลี่ยนรหัสผ่าน</h2>
</div>
<div class="content-box">
    <h3 class="content-box-header bg-blue-alt">
        <i class="glyph-icon icon-cog"></i>
        เปลี่ยนรหัสผ่าน
    </h3>
    <div class="content-box-wrapper">
        @using (Html.BeginForm("ChangePassword", "ChangePassword", FormMethod.Post, new { enctype = "multipart/form-data", id = "Firstlg" }))
        {
            <input type="hidden" name="UserID" value="@userData.UserId">
            <div class="row">
                <div class="col-lg-offset-4 col-md-4 form-group">
                    <label>รหัสผ่านเดิม (Old Password)</label>
                    <div class="input-group">
                        <input type="password" placeholder="กรุณากรอกรหัสผ่านเดิม" name="OldPassword" id="OldPassword" class="form-control" autocomplete="Old Password">
                        <span class="input-group-addon bg-gray toggle-password1" toggle="#OldPassword" style="cursor: pointer;" title="แสดง/ซ่อน">
                            <i class="fa fa-eye toggle-password11"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-offset-4 col-md-4 form-group">
                    <label>รหัสผ่านใหม่ (New Password)</label>                  
                    <div class="input-group">
                        <input type="password" placeholder="กรุณากรอกรหัสผ่านใหม่" name="NewPassword" id="NewPassword" class="form-control" autocomplete="New Password">
                        <span class="input-group-addon bg-gray toggle-password2" toggle="#NewPassword" style="cursor: pointer;" title="แสดง/ซ่อน">
                            <i class="fa fa-eye toggle-password22"></i>
                        </span>
                    </div>


                </div>
            </div>

            <div class="row">
                <div class="col-lg-offset-4 col-md-4 form-group">
                    <label>ยืนยันรหัสผ่านใหม่ (Confirm New Password)</label>                   
                    <div class="input-group">
                        <input type="password" placeholder="กรุณายืนยันรหัสผ่านใหม่" name="CrmNewPassword" id="CrmNewPassword" class="form-control" autocomplete="Confirm New Password">
                        <span class="input-group-addon bg-gray toggle-password3" toggle="#CrmNewPassword" style="cursor: pointer;" title="แสดง/ซ่อน">
                            <i class="fa fa-eye toggle-password33"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div style="text-align: center">
                <button type="submit" class="btn btn-success">บันทึก</button>
            </div>
        }
    </div>
</div>
@section Scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/assets/firstlogin_validation.js"></script>
    <script>
        $(document).ready(function () {
            $("#success-alert").hide();
            $("#success-alert").fadeTo(4000, 500).slideUp(500, function () {
                $("#success-alert").slideUp(500);
            });
            $(".toggle-password1").click(function () {

                $(".toggle-password11").toggleClass("fa-eye fa-eye-slash");
                var input = $($(this).attr("toggle"));
                if (input.attr("type") == "password") {
                    input.attr("type", "text");
                } else {
                    input.attr("type", "password");
                }
            });
            $(".toggle-password2").click(function () {

                $(".toggle-password22").toggleClass("fa-eye fa-eye-slash");
                var input = $($(this).attr("toggle"));
                if (input.attr("type") == "password") {
                    input.attr("type", "text");
                } else {
                    input.attr("type", "password");
                }
            });
            $(".toggle-password3").click(function () {

                $(".toggle-password33").toggleClass("fa-eye fa-eye-slash");
                var input = $($(this).attr("toggle"));
                if (input.attr("type") == "password") {
                    input.attr("type", "text");
                } else {
                    input.attr("type", "password");
                }
            });
        });
    </script>
}