@using ReportViewerForMvc;
@{
    ViewBag.Title = "แบบบันทึกการสอบภาคทฤษฏี";
}
<div class="panel">
    <div class="panel-body">
        <div class="row">
            <h2 style="text-align:center;">พิมพ์แบบบันทึกการสอบภาคทฤษฏี</h2><br />
        </div>
        @if (ViewBag.ReportViewer != null)
        {
            <div class="row">
                <center>
                    @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { @style = "width:100%; height:100%;" })
                </center>
            </div>
        }
        else
        {
            <div class="panel-body">
                <h1 style="text-align:center">ไม่พบข้อมูล</h1>
            </div>

        }
        <br />
        <div class="row">
            @using (Html.BeginForm("TestTakers", "Report", FormMethod.Post))
            {
                <input type="hidden" name="fdate" value="@ViewBag.Fdate">
                <input type="hidden" name="tdate" value="@ViewBag.Tdate">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-block btn-danger btnCancel">กลับ</button>
                </div>
            }
        </div>
    </div>
</div>

